.textAreaHeight{
	height:300px !important;
}

.btnAlign{
	float:right;
}

.btnTopMargin{
	margin-top:0.5em;
	margin-bottom:1em;	
	margin-left:10px;
}


.clear{
	clear:both;
	margin-bottom:0.3em;
}


.help {
	/*font-weight: bold;*/
	margin-top: 15px;
}

