@charset "utf-8";
/* ========================================================================== */
/* preview - course catalog data */

#coursePreview {width:500px; background-color: #fff; overflow:auto;}

/* COURSE CATALOG COLORS */
#courseHeader 	{background-color:  #55ccdd; text-align: center;}
#departmentTitle{background-color: #55ccdd;	color: #000000;}
#hoursTitle 	{background-color: #55ccdd;	color: #000000;}
#courseAvailabilityTitle {background-color: #55ccdd; color: #000000;}

#courseCatalog {
	width:500px; 
	font-family: Tahoma, serifSansSerifMonospace;
	border: 2px #D9E0E6 solid;
	border-bottom-color: #C3CDD2;
	border-right-color: #C3CDD2;
	float:left;
}

#courseCatalogPlan {
	width:200px; 
	font-family: Tahoma, serifSansSerifMonospace;
	border: 2px #D9E0E6 solid;
	border-bottom-color: #C3CDD2;
	border-right-color: #C3CDD2;
	float:left;
}

#departmentTitle {
	font-weight: bold;
	font-size: 110%;
	line-height:25px;
}

#hoursTitle {
	font-weight: bold;
	font-size: 70%;
	line-height: 18px;
}


#courseAvailabilityTitle {
	font-weight:  bold;
	text-align: center;
	line-height: 25px;
	border: 1px solid black;
}

#courseTitle {
	background-color:#CCC;
	text-align: center;
	vertical-align:middle;
	line-height: 18px;
	font-size: 90%;
	font-weight: bold;
	padding: 5px;
}

#courseDescription {
	font-size: 80%;
	padding: 5px;
	text-align: center;
}

#coursePreCoRequirements {
	font-size: 80%;
	padding: 5px;
	font-weight: bold;
}

#courseOther {

}

.propertyName {
	background-color: #CCCCCC;
	font-weight: bold;
	color:  #FFF;
	text-align: right;
	padding-right: 10px;
	font-size: 80%;
}

.preCoReqName {
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	font-size: 90%;
	border: none
}

.propertyValue {
	text-align: left;
	padding-left: 10px;
	font-size: 80%;
}

.preCoReqValue {
	text-align: left;
	padding-left: 10px;
	font-size: 90%;
	border: none
}

#courseAvailability {
	overflow: auto;
}


.availabilityYears {
	text-align:  center;
	font-weight: bold;
	font-size: 80%;
	border: 1px solid #CCC;
	background-color: #FFFF66;
}

.availabilityTerms {
	background-color:#FFFFCC;
	border: 1px solid black;
	font-size: 80%;
	width: 39px;
	text-align: center;
	padding: 0px;
}

.availabilityBox {
	border: 1px solid black;
	text-align: center;
}